params {
    normal_bam_folder = "/hpcshare/genomics/yabili_pipeline_vda/yabili_germline_vda/{NIST7035_TAAGGCGA,NIST7086_CGTACTAG}/results/Preprocessing/{NIST7035_TAAGGCGA,NIST7086_CGTACTAG}/DuplicatesMarked"
    outdir    = "results"
    ref       = "/hpcshare/genomics/references/gatk_bundle/reference/resources_broad_hg38_v0_Homo_sapiens_assembly38.fasta"
    ref_index = "/hpcshare/genomics/references/gatk_bundle/reference/resources_broad_hg38_v0_Homo_sapiens_assembly38.fasta.fai"
    ref_dict  = "/hpcshare/genomics/references/gatk_bundle/reference/resources_broad_hg38_v0_Homo_sapiens_assembly38.dict"
    interval_list =  "/hpcshare/genomics/references/gatk_bundle/resources/resources_broad_hg38_v0_wgs_calling_regions.hg38.interval_list"
    af_only_gnomad_vcf = "/hpcshare/genomics/references/gatk_bundle/resources/somatic-hg38_af-only-gnomad.hg38.vcf.gz"
    af_only_gnomad_vcf_idx = "/hpcshare/genomics/references/gatk_bundle/resources/somatic-hg38_af-only-gnomad.hg38.vcf.gz.tbi"

}

profiles {

    standard {
      	process.executor = 'local'
        singularity.enabled = true
      	singularity.autoMounts = true
    }

      vda {
        process.executor = 'pbspro'
        process.queue = 'cpunodes'
        process.cpus = 4
    }
      singularity {
       docker.enabled = false
       singularity.autoMounts = true
       singularity.enabled = true
    }
}


process {
  withName: run_mutect2_tumor_only_mode {
    container = "/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif"
  }
  withName: create_GenomicsDB {
    container = "/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif"
  }
withName: create_somatic_PoN {
    container = "/hpcshare/genomics/yabili_pipeline_vda/yabili_resources_vda/singularity/sarek_2.7.sif"
  }
}
